/* body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    background: #fff;
} */

.container{
    margin-top: 42px;
     background-color:  rgb(131,58,180);
     background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,169,253,1) 50%,rgba(252,176,69,1) 100%) ;;
      border-radius: 25px;
}

h1 {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    align-content: stretch;
    flex-direction: row-reverse;
}

#weekday{
   font-size: xx-large;
   color: #fdab1d;
   display: flex;
   align-items: flex-end;
   justify-content: space-evenly;
   align-content: stretch;
   flex-direction: row-reverse;
}

#phrase{
    font-size: 40px;
    color: #833ab4;
    font-weight: 800;
    margin-left: 170px;
}